<% include ../partials/header %>

<div class="container my-3">
    
    <div class="row">
        <div class="col-md-8 col-lg-6 mx-auto">
            <div class="card">
                <div class="card-header">
                    <h2 class="text-center card-title">Edit <%= campground.name %>:</h2>
                </div>
                <div class="card-body">
                    <form action="/campgrounds/<%= campground._id %>?_method=PUT" method="POST">
                        <div class="form-group">
                            <label for="campgroundName">Campground name:</label>
                            <input class="form-control" type="text" name="name" value="<%= campground.name %>" id="campgroundName">
                        </div>
                        <div class="form-group">
                                <label for="campgroundPrice">Price per day:</label>
                                <input class="form-control" type="number" name="price" placeholder="name" id="campgroundPrice" value="0.50" step="0.1">
                        </div>
                        <div class="form-group">
                            <label for="campgroundImageURL">Image URL:</label>
                            <input class="form-control" type="text" name="image" value="<%= campground.image %>" id="campgroundImageURL">
                        </div>
                        <div class="form-group">
                            <label for="campgroundDescription">Description:</label>
                            <textarea class="form-control" type="text" name="description" id="campgroundDescription"><%= campground.description %></textarea>
                        </div>
                        <button class="btn btn-primary btn-block">Edit!</button>
                    </form>
                </div>
            </div>
            <a class="mt-3" href="/campgrounds">Go Back</a>
        </div>
    </div>

</div>
    
<% include ../partials/footer %>